:root {
    --dark-accent: #072473;
    --body-color: rgb(223, 229, 255);
    --card-color: white;
    --accent: rgb(23, 82, 244);
    --box-shadow: rgba(128, 128, 128, 0.228);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 100%;
    text-align: center;
    min-height: 100vh;
}

#container {
    background-color: var(--body-color);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 4fr;
}

button {
    background-color: white;
    font-weight: 500;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 8px var(--box-shadow);
    transition: 0.3s;
}

button:active {
    color: var(--accent);
    box-shadow: none;
}

button, fieldset, input {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:active, a:visited {
    color: var(--accent);
}

/* HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.header>h1 {
    padding: 20px 30px;
    color: var(--dark-accent);
    background-color: var(--card-color);
    border-radius: 5px;
    box-shadow: 0px 5px 8px var(--box-shadow);
}

/* BODY */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.message {
    height: 3em;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    padding: 20px;
    color: var(--dark-text);
    background-color: var(--card-color);
    border-radius: 5px;
    box-shadow: 0px 5px 8px var(--box-shadow);
}

#game-field {
    display: grid;
    grid-template-columns: repeat(3, 125px);
    grid-template-rows: repeat(3, 125px);
}

.box {
    width: 125px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    cursor: pointer;
}

div.box:nth-child(1),
div.box:nth-child(2),
div.box:nth-child(4),
div.box:nth-child(5),
div.box:nth-child(7),
div.box:nth-child(8) {
    border-right: 2px solid var(--dark-accent);
}

div.box:nth-child(n+4) {
    border-top: 2px solid var(--dark-accent);
}


/* FOOTER */

footer {
    background-color: var(--body-color);
    color: var(--dark-accent);
    padding: 20px 0;
}